#!/usr/bin/make -f

include /usr/share/cdbs/1/class/ant.mk
include /usr/share/cdbs/1/rules/debhelper.mk

JAVA_HOME=/usr/lib/jvm/default-java
DEB_ANT_COMPILER=ant
DEB_ANT_BUILD_TARGET=with.disabled.updater jar

# Without this, cdbs seems to try something strange which makes it unabel to
# find some of the ant tasks.
# So lets just do it normally.
DEB_ANT_INVOKE= cd $(DEB_BUILDDIR) && ant

# Used by get-source and get-orig-souce
PACKAGE_VERSION := $(shell cat dmdirc-version)

# Get the source and the version
get-source:
	rm -Rf dmdirc-version dmdirc-orig-source
	git clone git://dmdirc.com/client dmdirc-orig-source
	git --git-dir=dmdirc-orig-source/.git describe --tags --always > dmdirc-version
	rm -Rf dmdirc-orig-source/.git

# Create an orig.tgz from the latest source.
get-orig-source: get-source
	tar -zcf dmdirc_$(VERSION).orig.tgz dmdirc-orig-source
	rm -Rf dmdirc-orig-source dmdirc-version
