[Desktop Entry]
Categories=Network;IRCClient;
Comment=DMDirc IRC Client
Encoding=UTF-8
Exec=/usr/bin/dmdirc
GenericName=IRC Client
Icon=/opt/dmdirc/icon.svg
Name=DMDirc
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
